@import '../../responsive.scss';

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 2;
    overflow-y: scroll;
    padding-bottom: 50px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    //border: 1px solid salmon;

    @include md {
      flex: none;
      // display: flex;
      // align-items: center;
      justify-content: flex-start;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 5px;
      border-radius: 9px;
      box-shadow: 2px 2px 4px crimson;
      //border: 1px solid red;
      @include md {
        width: 50%;
        padding: 10px;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid firebrick;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          border-radius: 20px 0px 20px 0px;
          cursor: pointer;
          border: none;
        }
      }

      .loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .threeDots {
          color: rgb(52, 138, 18);
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 20px 0px 20px 0px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    border-radius: 13px;
    // border: 1px solid crimson;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
