@import '../../responsive.scss';

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;

    .userInner {
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      border: 1px solid olivedrab;
      border-radius: 10px;
      position: relative;

      .notification {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: red;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }

    a {
      transition: all 0.4s ease;
      &:nth-of-type(2) {
        display: block;
      }

      @include sm {
        &:nth-of-type(2) {
          display: none;
        }
      }

      &:hover {
        transform: scale(1.05); /* Corrected property name */
      }

      &.active {
        color: coral; /* Adjust color for active link */
        font-weight: bold;
      }
    }
    .hmImg {
      width: max-content;
      height: 5vh;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
      color: black; /* Default link color */

      &.active {
        color: rgb(170, 64, 26); /* Adjust color for active link */
        font-weight: bold;
      }
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
      .usernameWallet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        justify-content: flex-start;
        span {
          @include sm {
            display: none;
          }
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: rgba(0, 128, 0, 0.411);
        border-radius: 20px 0px 20px 0px;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }

    .register {
      background-color: #fece51;
      border-radius: 20px 0px 20px 0px;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: rgb(176, 199, 47);
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      text-wrap: wrap;
      z-index: 1;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
