.dashboardMain {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sessionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sessionCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 250px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  // border: 1px solid firebrick;

  .slider {
    width: 50%;
    max-height: 300px;

    .slick-dots li button:before {
      font-size: 1em;
      color: #007bff;
      display: none;
    }

    .slick-dots li.slick-active button:before {
      color: #0056b3;
    }
  }

  .sliderImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .sessionDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 0px 15px;
    // border: 1px solid blue;
  }

  .sessionInfo {
    .expandButton {
      background: none;
      border: none;
      color: rgb(10, 10, 68);
      cursor: pointer;
      margin-left: 5px;
      text-decoration: underline;
    }

    p {
      color: #0da10d;
    }
    p:last-of-type {
      color: brown;
    }
  }

  .sessionActions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // border: 1px solid firebrick;

    button {
      padding: 5px 12px;
      // font-size: 1em;
      color: #fff;
      background-color: #0da10d;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &.deleteButton {
        background-color: brown;

        &:hover {
          background-color: crimson;
        }
      }
    }
  }
}

.horizontalSlider {
  display: flex;

  .slider {
    width: 50%;
    max-height: 100%;
    border: 1px solid rgb(38, 197, 17);

    .slick-dots li button:before {
      font-size: 1em;
      color: #007bff;
    }

    .slick-dots li.slick-active button:before {
      color: #0056b3;
    }
  }

  .sliderImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 5px;
  padding: 5px;
  width: 100%;
}
